<div class="d-flex justify-content-between align-items-center">
  <h4>Municipes</h4>
  <%= link_to "Novo", new_municipe_path, class: "btn btn-primary text-white" %>
</div>

<div id="municipes">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Celular</th>
        <th scope="col">Email</th>
        <th scope="col">Data de nascimento</th>
      </tr>
    <tbody>
      <% @municipes.each do |municipe| %>
        <%= render municipe %>
      <% end %>
    </tbody>
  </table>
</div>