<div class="d-flex justify-content-between align-items-center w-100">
  <h4>Novo Municipe</h4>
  <div>
    <%= link_to "Voltar", municipes_path %>
  </div>
</div>

<%= render "form", municipe: @municipe %>
